body {
  background-image: url("images/pinksky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#scrollbox {
  max-height: 30rem;
  overflow-y: auto;
}

#navbar {
  margin-bottom: 5rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1rem;
}

#maxpic {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.btn {
  /* margin: 1rem; */
}