html {
  scroll-behavior: smooth;
}

body {
  background-image: url("images/pinksky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#scrollbox {
  max-height: 34rem;
  overflow-y: auto;
  scroll-behavior:smooth
}

#navbar {
  margin-bottom: 3rem;
}

#linkedInbtn {
  margin-left: 1rem;
  margin-right: 1rem;
}

.imgCard {
  /* height: 600px;
  width: 100vw; */
  height: 100%;
  background: black;
  overflow: auto;
}

.portfolio-img {
    object-fit: cover;
    opacity: 1;
    height: 100%;
}

#photoText {
  color: white;
}

#email {
  color: black;
  font-size: 15pt;
}

#contactCard {
  align-content: center;
}

.bold {
font-weight: bold;
}

/* .nav-link {

} */

.btn {
margin: 1 rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem;
}

.card {
  background-color: rgb(233, 227, 255);
}

#maxpic {
  /* margin-bottom: 1rem; */
  margin-right: 1rem;
}
